[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Codecov
coverage = "*"
codecov = "*"
# Testing
mypy  = "*"
pipenv-setup = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-pylint = "*"
pytest_docker_tools = "*"
requests = "*"
testinfra = "*"

[packages]
# Improves aiohttp performance
aiodns = "*"
# Facilitates API calls to Ansible Galaxy
aiohttp = "*"
fastapi = "*"
# For exporting Prometheus metrics
prometheus-client = "*"
python-dateutil = "*"
tenacity = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
